@using MKT.WebUI.Models.Admin
@model UsersViewModel

@{
    ViewBag.Title = "Users";
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Users</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered display w-100 mkt-datatable" id="usersTableId">
                            <thead>
                            <tr>
                                <th>Username</th>
                                <th>Name Surname</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Location</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach(var user in Model.USers)
                            {
                                <tr>
                                    <td>@user.UserName</td>
                                    <td>@user.NameSurname</td>
                                    <td>@user.Email</td>
                                    <td>@user.Rol</td>
                                    <td>@user.Location.LocationName</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="usersModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-gradient-primary text-white">
                <h5 class="modal-title">Add User</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Admin" asp-action="Users" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label><b>Username</b></label>
                        <input class="form-control form-control-sm" asp-for="User.UserName" placeholder="Username" />
                    </div>
                    <div class="form-group">
                        <label><b>Name Surname</b></label>
                        <input class="form-control form-control-sm" asp-for="User.NameSurname" placeholder="Name Surname" />
                    </div>
                    <div class="form-group">
                        <label>
                            <b>Password</b>
                        </label>
                        <input type="password" asp-for="User.Password" placeholder="Password" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label><b>Email</b></label>
                        <input class="form-control form-control-sm" asp-for="User.Email" placeholder="Email" />
                    </div>
                    <div class="form-group">
                        <label><b>Role</b></label>
                        <select class="form-control form-control-sm mkt-select2" asp-for="User.Rol" asp-items="@Model.RolesSelectList">
                            <option selected="selected" disabled="disabled">- Select A Role -</option>
                        </select>
                    </div>
                    <div>
                        <label><b>Location</b></label>
                        <select class="form-control form-control-sm mkt-select2" asp-for="User.LocationId" asp-items="@Model.LocationsSelectList">
                            <option selected="selected" disabled="disabled">- Select a Location -</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="PostWithFormRedirect(this)">Save User</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
<script src="~/js/Controller/Admin/Users.js"></script>
}